:root {
  --error: #e63946;
  /* imperial red */
  --default: #f1faee;
  /* honeydew */
  --success: #A8DADC;
  /* powder blue */
  --primary: #457B9D;
  /* celadon blue */
  --secondary: #1d3557;
  /* prussian-blue */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0) url("./images/concrete-texture.png") repeat scroll 0% 0%;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:hover,
a:active,
a:visited {
  color: var(--default);
}

.centered-text {
  text-align: center;
}

.primary {
  background-color: var(--primary);
  color: #fff;
}

.secondary {
  background-color: var(--secondary);
  color: #fff;
}

.success {
  background-color: var(--success);
  color: #fff;
}

.danger {
  background-color: var(--error);
  color: #fff;
}

.total-items-indicator {
  margin-left: .1rem;
  font-size: 1.1rem;
}



.dropleft {
  display: block;
  background-color: rgb(245, 245, 245);
  position: absolute;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 15px;
  right: 1.5rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.post-options .dropleft p {
  min-width: 100px;
}

.post-options .dropleft p:hover {
  cursor: pointer;
}

/* #region Navbar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-content: space-between;
  background-color: var(--primary);
  color: var(--default);
  font-size: large;
}

.navbar a,
.navbar .fa-bars {
  padding: 1rem .4rem;
  text-decoration: none;
  margin: 0 0.5rem;
}

.navbar a:hover {
  color: var(--default);
}

.navbar .fa-bars {
  display: none;
}

.navbar a.link-icons {
  padding: 1rem 0;
}

.navbar .left {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.navbar .center {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
}

.navbar .right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar .right #profile-link-icon {
  display: none;
}

/* side navigation for small screens */
.navbar .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 3.4rem;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
  padding-top: 1rem;
  transition: 0.5s;
  text-align: center;
}

/* #endregion */


/* #region Home page */

.home-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  min-height: 70%;
  padding-top: 1rem;
}

.home-container .left {
  flex-grow: 3;
  max-width: 280px;
  padding: 1rem;
}

.home-container .hot-news {
  background-color: #fff;
  min-height: 50px;
  margin-bottom: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 1px 9px 21px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 9px 21px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 9px 21px -2px rgba(0, 0, 0, 0.3);
}

.home-container .center {
  flex-grow: 6;
  max-width: 750px;
  padding-top: 1rem;
}

.home-container .center .main-post {
  padding: 1rem;
}

.home-container .right {
  flex-grow: 3;
  max-width: 200px;
  padding: 1rem;
}

.home-container .new-post {
  margin-right: 5px;
}

.home-container .new-post.form-showing,
.home-container .edit-post {
  background-color: #fff;
  -webkit-box-shadow: 1px 7px 9px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 7px 9px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 7px 9px 2px rgba(0, 0, 0, 0.35);
  padding: 20px;
  margin: 20px 5px;
}

.home-container .new-post #new-post-button {
  text-align: right;
}

.home-container .new-post #cancel-new-post-button,
#cancel-edit-post-button {
  background-color: var(--error);
  color: white;
}

.home-container .new-post #cancel-new-post-button:hover {
  background-color: #a72a34;
}

.home-container .new-post #new-post-submission,
.home-container .edit-post #edit-post-submission {
  margin-top: 1rem;
}

.home-container .main-post {
  background-color: #fff;
  position: relative;
  padding: 20px;
  margin: 20px 5px;
  -webkit-box-shadow: 1px 7px 9px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 7px 9px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 7px 9px 2px rgba(0, 0, 0, 0.35);
}

.home-container .main-post.single-post {
  margin: 0px 20px 20px;
}

.home-container .main-post .post-options i {
  opacity: 0.7;
  font-size: 1.3rem;
  padding-right: .5rem;
}

.home-container .main-post .post-options i:hover {
  opacity: 1;
}

.home-container .main-post .post-options .fas {
  color: gray;
}

.home-container .main-post .main-post-header h1 {
  padding: 0px;
  text-align: justify;
  font-size: 2.5rem;
  margin: 5px 0;
}

.home-container .main-post .main-post-header h1 a {
  text-decoration: none;
  color: unset;
}

.home-container .main-post .main-post-header p {
  padding: 0px;
  text-align: right;
  margin: 5px 0;
  font-size: 0.9rem;
  font-style: italic;
}

.home-container .main-post .main-post-header small {
  text-align: left;
  display: block;
  font-size: 0.8rem;
  font-style: italic;
}

.home-container .main-post .main-post-header .post-options {
  position: absolute;
  right: 10px;
  top: 10px;
}

.home-container .main-post .main-post-header .post-options p {
  text-align: left;
  font-style: normal;
}

.home-container .main-post .main-post-header .post-options .fa-ellipsis-v {
  margin-right: -10px;
  margin-left: 20px;
}

.home-container .main-post .main-post-header .pin {
  font-size: 1.5rem;
  color: gray;
  opacity: 0.8;

}

.home-container .main-post .main-post-header .pin.pinned {
  font-size: 2rem;
  color: var(--secondary);
  transform: rotate(45deg);
}

.home-container .main-post hr {
  opacity: 0.4;
  width: 90%;
}

.home-container .main-post .main-post-content {
  position: relative;
  font-size: 1rem;
  vertical-align: middle;
}

.home-container .main-post section {
  margin: auto 30px;
  position: relative;
}

.home-container img {
  width: 100%;
  height: auto;
}

.home-container .main-post .main-post-content .markdown-limiter {
  height: 250px;
  overflow: hidden;
}

.home-container .main-post .main-post-content .remove-fade {
  position: absolute;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  bottom: -15px;
  width: 100%;
  height: 60px;
  background: #f7f4f4;
  background: linear-gradient(180deg, rgba(255, 254, 254, 0), rgba(255, 254, 254, .52) 30%, rgba(255, 254, 254, .648553210346639) 60%, rgb(245, 254, 254, 0.82) 95%, rgb(245, 254, 254));
}

.home-container .main-post .main-post-content .add-fade {
  text-align: center;
}

.home-container .main-post .main-post-content i {
  font-size: 2.5rem;
  padding-top: 5px;
  color: var(--secondary);
}

.home-container .main-post .main-post-footer {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.home-container .main-post .main-post-footer i {
  margin-left: 10px;
  font-size: 1.5rem;
  color: var(--secondary);
}

.home-container .main-post .main-post-footer .far.fa-thumbs-up {
  color: gray;
  font-size: 1.4rem;
}

.home-container .main-post .main-post-footer .fas.fa-link {
  color: gray;
  font-size: .8rem;
  margin-right: 8px;
}

.home-container .main-post .main-post-footer .far.fa-thumbs-up:hover {
  color: var(--secondary);
  font-size: 1.5rem;
}

.home-container .main-post .single-post-comments {
  padding-top: .5rem;
}

.home-container .main-post .single-post-comments hr {
  width: 100%;
  opacity: 0.3;
}

.home-container .main-post .single-post-comments h3 {
  margin-bottom: .2rem;
  margin-top: .2rem;
}

.single-post-comments .comments-load-more {
  text-align: center;
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
}

.single-post-comments .comments-load-more span:hover {
  cursor: pointer;
}

.comment-submit {
  text-align: right;
  padding: .7rem 0;
}

.comment .author {
  font-weight: bold;
  font-size: .9rem;
}

.comment .date-posted {
  color: gray;
  opacity: 0.9;
  margin-left: 1rem;
  font-size: .7rem;
}

.comment .comment-content {
  padding-top: .2rem;
  font-size: .8rem;
  padding-bottom: .5rem;
}

.comment .comment-header .fa-flag {
  color: var(--secondary);
  font-size: .8rem;
  margin-left: .5rem;
}

.single-post-comments .comment-text {
  border: 1px solid rgba(34, 36, 38, .15);
  outline: 0;
  border-radius: .3rem;
  resize: vertical;
  transition: color .1s ease;
  overflow: auto;
  box-shadow: 0 0 0 0 transparent inset;
  padding: 1rem;
  width: 100%;
}

.single-post-comments .comment-text:focus {
  border-color: var(--primary);
}

.home-container .main-post .main-post-footer .main-post-social-shares {}

.home-container .main-post .main-post-footer .main-post-user-engagement {}


/* #endregion */

.fab,
.far,
.fas {
  color: var(--default);
  font-size: 1.5rem;
}

.fab:hover,
.far:hover,
.fas:hover {
  cursor: pointer;
}

.MuiGrid-root a,
.MuiGrid-root a:visited,
.MuiGrid-root a:active {
  color: var(--secondary)
}

/* #region media-queries */

@media only screen and (min-width: 600px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */

  .navbar .sidenav {
    display: none;
  }


}

@media only screen and (max-width: 600px) {

  /* Extra small devices (phones, 600px and down) */
  .navbar .sidenav {
    font-size: larger;
  }

  .home-container .main-post.single-post {
    margin: auto;
  }

  .home-container .main-post hr {
    width: 100%;
  }

  .home-container .main-post section {
    margin: auto;
  }

  .home-container .main-post {
    margin: 1rem auto;
  }

  .home-container .center {
    padding-top: 3.2rem;
  }

  .navbar .left a {
    display: none;
  }

  .navbar .left .sidenav a {
    display: block;
  }

  .navbar .fa-bars {
    display: block;
  }

  .navbar {
    position: fixed;
    width: 100%;
  }

  .navbar .center {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {

  /* Medium devices (landscape tablets, 768px and up) */
  .navbar .center {
    justify-content: flex-start;
  }

}

@media only screen and (max-width: 768px) {

  /* Medium devices (landscape tablets, 768px and down) */
  .navbar {
    font-size: medium;
  }

  .home-container .left {
    display: none;
  }

  .navbar .right #profile-link-icon {
    display: inline-flex;
  }

  .navbar .right #text-profile-links {
    display: none;
  }
}

@media only screen and (min-width: 992px) {

  /* Large devices (laptops/desktops, 992px and up) */

}

@media only screen and (max-width: 992px) {

  /* Large devices (laptops/desktops, 992px and down) */
  .something {
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  .navbar .center {
    flex-grow: 1;
  }

  .navbar .right,
  .navbar .left {
    flex-grow: 2;
  }
}

@media only screen and (max-width: 1200px) {

  /* Extra large devices (large laptops and desktops, 1200px and down) */
  .home-container .right {
    display: none;
  }

  .home-container .left {
    min-width: 170px;
    padding: 1rem .3rem;
  }
}

/* #endregion */